.center {
    background-color: $grey3;
    margin: auto;
    margin-bottom: 10%;
    width: 70%;
    padding: 5%;
    height: max-content;
    border-radius: $radius;
    
    * {
        margin: auto;
        display: block;
    }
}

.inline {
    margin: $standardMargin;
    * {display: inline-block;}
}

.leftalign * {
    margin: $standardMargin;
    text-align: left;
}

.textboxGrid {

    display: grid;
    justify-content: space-evenly;
    align-content: space-evenly;

    grid: {
        column-gap: 20px;
        row-gap: 20px;

        template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    * {

        size: 100%;
        margin: 0px;
        padding: 30px 0px;
        text-align: center;
        
        background-color: $grey4;

    }

    .linkElement {
        border: 1px solid black;

        &:hover {
            background-color: $grey3;
            cursor: pointer;
        }

        a:hover {
            text-decoration: underline;
            color: $linkStill;
        }

        * {
            margin: 0px;
            padding: 0px;
            background-color: transparent;
        }

    }
}