$blue: rgb(40, 131, 208);
$green: rgb(145, 226, 44);
$red: rgb(249, 38, 119);
$yellow: rgb(253, 151, 31);
$purple: rgb(174, 129, 255);

$grey1: rgb(40, 40, 40);
$grey2: rgb(60, 60, 60);
$grey3: rgb(80, 80, 80);
$grey4: rgb(120, 120, 120);

$border-color: white;

$radius: 15px;
$standardMargin: 15px;